@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Gabarito', sans-serif;
  background-color: #f9f9f9;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #00B4B2;
  color: white;
  padding: 1.5rem;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #1abc9c;
}

.content {
  flex: 1;
  padding: 2rem;
}

:root {
  --color-primary: #00b4b2;
  --color-secondary: #53281C;
}